<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945631862263-slf05d6h5ooigfkg2tu9t8dfgmge41ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945631862263-slf05d6h5ooigfkg2tu9t8dfgmge41ec</string>
	<key>API_KEY</key>
	<string>AIzaSyB-MMRixWhLl-nDcH0SpEORyKSYYgRTiRo</string>
	<key>GCM_SENDER_ID</key>
	<string>945631862263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbAuthBloc</string>
	<key>PROJECT_ID</key>
	<string>auth-bloc-b52f4</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-bloc-b52f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945631862263:ios:6bca398897e785af55a2f2</string>
</dict>
</plist>